<!DOCTYPE html>
<head>
    <title>Add Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <center>
        <h2>Delete a Book record</h2>
        <form action='/deleteBooks' method="post">
            <label>Book ID</label>
            <input type='text' name='ID' required='' placeholder="Enter ID of the book to delete"></input><br/>
            <button type="submit">Delete</button>
        </form>
    </center>
</body>
</html>